* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }


  /* Parallax Styling */

  .parallax-section {
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #image1 {
    background-image: url('KING3.jpg');
  }
  
  #AboutMe {
      background-color: #fff;
      min-height: 100vh;

  }
  
  #image3 {
    background-image: url('KING3.jpg');
  }
  
  #image4 {
    background-image: url('KING3.jpg');
  }
  

  .h1
{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  }


  /* Section Text */

  .section-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }




header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #333;
}

.hamburger-menu {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hamburger-line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px 0;
    background-color: #fff;
}

.nav-menu {
    margin: 0;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin-left: 1rem;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .nav-menu.open {
        display: block;
    }

    .nav-menu ul {
        display: block;
        text-align: center;
    }

    .nav-menu li {
        margin: 1rem 0;
    }
}
